
:root {
  --white: hsl(0, 0%, 100%);
  --grey-100: hsl(0, 0%, 95%);
  --grey-200: hsl(0, 0%, 90%);
  --grey-300: hsl(0, 1%, 85%);
  --grey-400: hsl(0, 0%, 80%);
  --grey-500: hsl(0, 0%, 65%);
  --grey-600: hsl(0, 0%, 50%);
  --green-400: hsl(169, 100%, 26%);
  --green-600: hsl(172, 85%, 22%);
  --yellow-400: hsl(48, 77%, 55%);
  --red-400: hsl(0, 51%, 41%);
  --black-300: hsl(0, 0%, 20%);
}